body {
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .title {
      text-align: center;
      letter-spacing: 1em;
  }
  .active {
    background-color: rgba(255, 37, 37,.5);
  }
.home__img {
  width: 200px;
  height: 250px;
  background-image: url('./img/pynchon.jpg');
}
.home__book {
  width: 225px;
  height: 400px;
  background-image: url('./img/bedge.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.gallery__img {
  width: 225px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid red;
}
#bedge {
  background-image: url('./img/bedge.jpeg');
}
#v {
  background-image: url('./img/v.jpeg');
}
#clot {
  background-image: url('./img/clot49.jpeg');
}
#grainbow {
  background-image: url('./img/grainbow.jpeg');

}
#slearner {
  background-image: url('./img/slearner.jpeg');
}
#vland {
  background-image: url('./img/vland.jpeg');
}
#mdixon {
  background-image: url('./img/mdixon.jpeg')
}
#atday {
  background-image: url('./img/atday.jpeg');
}
#ivice {
  background-image: url('./img/ivice.jpeg');
}


