body {
    padding: 20px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  .header {
    text-align: center;    
  }
  .header div {
    display: inline;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    padding: 0;
  }
  ul.header li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .title {
      text-align: center;
      letter-spacing: 1em;
  }
  .active {
    background-color: rgba(255, 37, 37,.8);
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
      -o-transform: skew(-15deg);
  }

/* HOMEPAGE */
.home__bio {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}
.home__img {
  margin: 0 auto;
  width: 190px;
  height: 250px;
  background-image: url('./img/pynchon.jpg');
}
.home__book {
  margin: 0 auto;
  width: 225px;
  height: 340px;
  background-image: url('./img/bedge.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.home__latest {
  text-align: center;
  padding-bottom: 50px;
}
.home__text {
  float: right;
}

/* IMAGE GALLERY */
.quote h3 {
  text-align: center;
  color: rgb(63, 63, 63);
}

.gallery__img {
  width: 225px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid red;
}
#bedge {
  background-image: url('./img/bedge.jpeg');
}
#v {
  background-image: url('./img/v.jpeg');
}
#clot {
  background-image: url('./img/clot49.jpeg');
}
#grainbow {
  background-image: url('./img/grainbow.jpeg');

}
#slearner {
  background-image: url('./img/slearner.jpeg');
}
#vland {
  background-image: url('./img/vland.jpeg');
}
#mdixon {
  background-image: url('./img/mdixon.jpeg')
}
#atday {
  background-image: url('./img/atday.jpeg');
}
#ivice {
  background-image: url('./img/ivice.jpeg');
}

/* INFO PAGE */
.info__wrapper {
  padding: 50px;
  text-align: center;
}


